<div class="section">
<<<<<<< HEAD
  <%= simple_form_for @post do |f| %>
  <div class="feild">
    <div class="control">
      <%= f.input :title, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
    </div>
  </div>
  <div class="feild">
    <div class="control">
      <%= f.input :content, input_html: {class: "textarea"}, wrapper: false, label_html: {class: "label"} %>
    </div>
  </div>
  <%= f.button :submit, class: "button is-primary" %>
  <% end%>
=======
<%= simple_form_for @post do |f| %>
  <div class="field">
    <div class="control">
      <%= f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :content, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' }  %>
    </div>
  </div>
  <%= f.button :submit, class: "button is-primary" %>
<% end %>
>>>>>>> 61dd6560b29c157768f733c51fa7a5b577799b4a
</div>
